[build-system]
requires = ["scikit-build-core", "ziglang"]
build-backend = "scikit_build_core.build"

[project]
name = "vapoursynth-zsmooth"
description = "Cross-platform, cross-architecture video smoothing functions for Vapoursynth, written in Zig"
readme = "README.md"
requires-python = ">=3.12"
dependencies = ["vapoursynth"]
dynamic = ["version"]

# Configure scikit-build-core
[tool.scikit-build]
wheel.expand-macos-universal-tags = true
# Configure to produce a generic `py3-none-<platform>` tag (e.g., `py3-none-win_amd64`) 
# since the plugin only depends on the VapourSynth C API and the target OS/architecture,
# not a specific Python version or ABI.
wheel.py-api = "py3"

[tool.scikit-build.metadata.version]
provider = "scikit_build_core.metadata.regex"
input = "build.zig.zon"
regex = '\.version\s*=\s*"(?P<version>[^"]+)"'
result = "{version}"
